<div class="header-site">
  <h3 class="content-center">Projects</h3>
</div>
<div class="content-center text-block">
  <div>
    <h3>Sky Store (Android App)</h3>
    <p>Sky Store is a platform for buying and renting movies. On Android you can buy, rent, stream, and download thousands of movies.</p>
    <p>
      <a href="https://play.google.com/store/apps/details?id=com.bskyb.skystore.app" target="_blank">Play Store</a>&nbsp;
      <a href="https://www.skystore.com" target="_blank">Website</a>
    </p>
  </div>

  <div>
    <h3>Moment for Wear (Beta)</h3>
    <p>Moment is a simple drawing messenger for Android Wear. Simply draw a picture on your wearable and send it to your friends.</p>
    <p>
      <a href="https://play.google.com/store/apps/details?id=technology.mainthread.apps.moment" target="_blank">Play Store</a>&nbsp;
      <a href="https://github.com/AndrewJack/moment-for-android-wear" target="_blank">GitHub</a>
    </p>
  </div>

  <div>
    <h3>Grand Maps - Muzei Extension</h3>
    <p>Grand Maps for Muzei is a cartography themed extension for the Muzei live-wallpaper.</p>
    <p>
      <a href="https://play.google.com/store/apps/details?id=technology.mainthread.apps.grandmaps" target="_blank">Play Store</a>&nbsp;
      <a href="https://github.com/mainthread-technology/grand-maps-for-muzei" target="_blank">GitHub</a>
    </p>
  </div>

  <div>
    <h3>Is It Up?</h3>
    <p>Is it up? is an app for the popular site isitup.org. Ever wondered if that site you are trying to use is up or is it just you? Then you need Is it up?</p>
    <p>
      <a href="https://play.google.com/store/apps/details?id=technology.mainthread.apps.isitup" target="_blank">Play Store</a>&nbsp;
      <a href="https://github.com/mainthread-technology/is-it-up-android" target="_blank">GitHub</a>
    </p>
  </div>

  <div>
    <h3>Big Green Robot</h3>
    <p>Project for expermentation</p>
    <p>
      <a href="https://github.com/AndrewJack/big-green-robot" target="_blank">GitHub</a>
    </p>
  </div>
</div>
