.content-center {
  width: 60%;
  margin: 0 auto;
}

.title {
  background: #1976D2;
}

.header-site h3 {
  color:#fff;
  font-size: 2rem;
  padding: 1.875rem 0;
}

.text-block {
  margin: 1rem auto;
}

.nav {
  background: #1976D2;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}

.nav a:hover {
  text-decoration: underline;
}

.nav ul {
  margin: 0;
  padding: 10px 0 0 10px;
  list-style-type: none;
}

.nav li {
  display: inline;
  padding: 10px;
}
