---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include svg-icons.html %}
        {% include navigation.html %}
        <section class="post" itemscope itemtype="http://schema.org/WebPage">
            <div class="header-site">
              <h3 class="content-center">{{ page.title }}</h3>
            </div>
            <article role="article" id="scroll" class="post-content" role="main" itemprop="mainContentOfPage">
                {{ content }}
            </article>

            {% include footer.html %}
        </section>
    </body>
</html>
